@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.drop-down {
  @apply bg-white/80 text-black tracking-tight gap-y-5 px-5 py-5 flex flex-col content-between
}


.footer{
  @apply shadow-inner  bg-[#ffff] 
}


.sell{
  @apply w-screen bg-green-400 px-5 h-[2rem] top-0 fixed pt-1 text-white
  font-serif tracking-wide 
}

.card{
  @apply mb-5 block rounded-lg  border  border-gray-200 shadow-md
}

.primary-button{
  @apply bg-amber-300 py-2 px-4 rounded-md shadow outline-none hover:bg-amber-400 active:bg-amber-500 
}
.slide_bg{
 @apply mb-4  min-h-[20rem] bg-[#fb97e0] w-screen

}

.slide_button{
  @apply h-auto w-10  font-extrabold text-3xl 
}